<form id="invoice-form" method="post">
    <div class="main__header">
        <a href="/invoice" class="main__header-btn">
            <i class="fa-solid fa-angle-left"></i>
            Trở về
        </a>
        <h2 class="main__title">Hóa đơn bán sách</h2>
    </div>

    <div class="form-content">

        <div class="customer-info">
            <div class="header-info">
                <h4>Thông tin khách hàng</h4>
            </div>

            <div class="createInvoice__customer-infor ">
                <div class="input-group">
                    <label for="customer-id">ID</label>
                    <input type="text" id="customerID" name="customer-id" class="border-input"
                        value="{{customerInfo.customerID}}">
                </div>

                <div class="input-group">
                    <label for="customer-name">Họ tên</label>
                    <input type="text" id="fullname" name="customer-name" class="border-input"
                        value="{{customerInfo.fullname}}">
                </div>

                <div class="input-group">
                    <label for="customer-phone">Số điện thoại </label>
                    <input type="text" id="phone" name="customer-phone" class="border-input"
                        value="{{customerInfo.phone}}">
                </div>

                <div class="input-group">
                    <label for="customer-email">Email </label>
                    <input type="email" id="email" name="customer-email" class="border-input"
                        value="{{customerInfo.email}}">
                </div>
            </div>

        </div>

        <div class="invoice-content">
            <div class="createImport__menu">
                <div class="createImport__menu-id">ID:
                    <h6 name="invoiceID">{{invoiceID}}</h6>
                </div>

                <div class="createImport__menu-date">
                    <div class="d-inline">Ngày lập:</div>
                    <input type="date" id="invoiceDate" name="invoiceDate">
                </div>
                <ul class="createImport__menu-btns">
                    <li><button name="addBook" class="import__menu-btn"><i class="fa-solid fa-circle-plus icon"></i>Thêm
                            sách</button></li>
                    <li><button name="removeBook" class="import__menu-btn"><i class="fa-solid fa-trash icon"></i>Xóa
                            sách</button>
                    </li>
                </ul>
            </div>

            <div class="main__content">
                <div class="table-fixed table-large table-responsive rounded">
                    <table id="listbook-invoice" class="table table-striped table-hover text-start table-bordered">
                        <thead>
                            <tr>
                                <th scope="col"><i class="fa-regular fa-square"></i></th>
                                <th scope="col" width="10%">ID</th>
                                <th scope="col" width="20%">Tên sách</th>
                                <th scope="col" width="20%">Thể loại</th>
                                <th scope="col">Tác giả</th>
                                <th scope="col" width="10%">Số lượng</th>
                                <th scope="col" width="15%">Đơn giá</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="createImport__info">
                <div class="createImport__info-count">
                    <h6>Tổng số: <span name="totalBooks"></span> (sách)</h6>
                </div>
                <div class="createImport__info-cost">
                    <h6>Thành tiền: <span name="totalPrice"></span> (VND)</h6>
                </div>
            </div>

            <div class="createImport__submit">
                <button id="debit-btn" class="createImport__submit-btn btn-grey" form="invoice-form" formaction="/invoice/debt">Ghi
                    nợ</button>
                <button id="payment-btn" class="createImport__submit-btn" form="invoice-form" formaction="/invoice/payment">Thanh
                    toán</button>
            </div>

        </div>
    </div>
</form>

{{!-- --}}
{{> modals/list_book}}

{{!-- add book modal --}}

<script src="/js/jquery-3.6.1.min.js"></script>
<script>

    var today = new Date().toISOString().split('T')[0];
    document.getElementById("invoiceDate").value = today;

    // show and hide list book modal
    var listBookModal = $("#listBookModal");

    $("button[name='addBook']").click((e) => {
        e.preventDefault();
        listBookModal.addClass('show');
    })

    $(".btn-close").click((e) => {
        e.preventDefault();
        listBookModal.removeClass('show');
    })


    $('#payment-btn').on('click', (e) => {
        
        const customerInfo = {
            customerID: $('input#customerID').val(),
            fullname: $('input#fullname').val(),
            phone: $('input#phone').val(),
            email: $('input#email').val(),
        }

        var listBooks = [];

        $('.invoice-row').each((index, element) => {
            e.preventDefault();
            const id = $(element).prop('id');
            
            listBooks.push({
                bookID: $('tr#' + id + ' td[name="bookID"]').text(),
                bookname:  $('tr#' + id + ' td[name="bookname"]').text(),
                category:  $('tr#' + id + ' td[name="category"]').text(),
                author:  $('tr#' + id + ' td[name="author"]').text(),
                quantity:  $('tr#' + id + ' td[name="quantity"]').text(),
                price:  $('tr#' + id + ' td[name="price"]').text(),
            })
        })

        const invoiceInfo = {
            customerInfo,
            listBooks,
            invoiceDate: $('#invoiceDate').val()
        }

        fetch('/invoice/payment', {
            method: 'post',
            headers: {
                'Content-type': 'application/json'
            },
            body: JSON.stringify({ invoiceInfo })
        })
    })

{{!-- 

    // update total books and total money
    $('table#listbook-invoice').on('change', 'tbody', () => {

        console.log('change')
        var totalBooks = 0;
        var totalPrice = 0;

        $('table#listbook-invoice td[name="quantity"]').each((index, element) => {
            totalBooks += Number($(element).text());
            console.log(totalBooks);
        })

        $('table#listbook-invoice td[name="price"]').each((index, element) => {
            totalPrice += Number($(element).text());
            console.log(totalPrice);
        })

        $('span[name="totalPrice"]').html(totalPrice + " ");
        $('span[name="totalBooks"]').html(totalBooks + " ");
    }) --}}

</script>