<h2 class="main__title">Thư viện sách</h2>

<div class="main__searchBar">
    <form action="search" method="post">
        <input type="text" class="searchBar__input" placeholder="Tìm kiếm" id="search" name="search">
        <button class="searchBar__btn">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
</div>

<div class="main__content border-0">
    <div class="table-responsive rounded">
        <table class="table table-striped table-hover m-0 text-start">
            <thead>
                <tr>
                    {{!-- <th scope="col">#</th> --}}
                    <th scope="col">Tên sách</th>
                    <th scope="col">Tác giả</th>
                    <th scope="col">Thể loại</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Đơn giá</th>
                </tr>
            </thead>
            <tbody>
                {{#each books}}
                <tr>
                    {{!-- <th scope="row">1</th> --}}
                    <td>{{this.bookname}}</td>
                    <td>{{this.author}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.quantity}}</td>
                    <td>{{this.price}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

{{>pagination}}